/* ============================= */
/* == IMPORTATION DES POLICES == */
/* ============================= */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}


/* ================================ */
/* == PAGE CODEE EN MOBILE-FIRST == */
/* ================================ */


body {
    font-family: "Montserrat-Regular", sans-serif;
    text-align: center;
    padding-top: 14vh;
    color: white;
}


/* ======================== */
/* ===== ARRIERE-PLAN ===== */
/* ======================== */
body::before {          
    content: '';
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../background.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/* =========================== */
/* ===== AFFICHAGE GRIDS ===== */
/* =========================== */
main {              
    display: grid;
    grid-template-columns: 0.5fr 12fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . ."
    ". heading . "
    ". form ."
    ". forgot-password ."
    ". . .";
}

.heading {
    grid-area: heading
}

.logo {
    max-width: 40vw;
    width: fit-content
}


/* =================== */
/* ===== TITRAGE ===== */
/* =================== */
.title {                
    font-size: clamp(14px, 18px, 48px);
    font-family: 'Montserrat-Light', sans-serif;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 2rem;
}


/* =================================== */
/* ===== FORMULAIRE DE CONNEXION ===== */
/* =================================== */
.login {                
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    grid-area: form;
}

input {
    margin-top: 0.3rem;
    border-radius: 5px;
    border-width: 0px;
    max-width: 100%;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 0.9rem;
    padding: 0.2rem 0 0.2rem 0.5rem;
    outline: none;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

input:hover{
    border-color: #8cdee4 #8cdee4 #8cdee4 #8cdee4;
    transition: 0.3s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 3px solid rgba(81, 203, 238, 1);
    transition: 0.2s ease-in-out;
  }

input[type=text], input[type=password] {
    height: 3vh;
}

label {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat-Medium', sans-serif;
}

.forgotten-password {
    grid-area: forgot-password;
    text-align: left;
    position: relative;
    top: -2vh;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: white;
    max-width: fit-content;
    justify-content: center;
    padding:  0.2rem;
    font-size: 0.9rem;
}

.forgotten-password a {
    margin: 0;
}

.forgotten-password p {
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
}

.forgotten-password:hover {
    color: rgb(240, 240, 240);
    border-radius: 5px;
    -webkit-animation: neon 2.5s ease-in-out infinite alternate;
    -moz-animation: neon 2.5s ease-in-out infinite alternate;
    animation: neon 2.5s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0d4582, 0 0 70px #0d4582, 0 0 80px #0d4582, 0 0 100px #0d4582, 0 0 150px #0d4582;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0d4582, 0 0 35px #0d4582, 0 0 40px #0d4582, 0 0 50px #0d4582, 0 0 75px #0d4582;
    }
  }



/* ========================================== */
/* ===== ICONE AFFICHER LE MOT DE PASSE ===== */
/* ========================================== */
.password_reveal a i::before {
    align-content: end;
}

.preview_icon {             
    position: relative;
    text-decoration:none;
    flex: 1%;
    top: -4.7vh;
    padding: 0.2rem;
    padding-right: 0.6rem;
    align-self: flex-end;
  }

.fa-eye {
    color: green;
}

.fa-eye:hover {
    background-color: lightgreen;
    border-radius: 50%;
}

.fa-eye-slash {
    color: red;
}

.fa-eye-slash:hover {
    background-color: lightpink;
    border-radius: 50%;
}

.password_input {
    height: 5vh;
}

.password_reveal {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit
}


/* ==================================================== */
/* ===== RANGEE SE SOUVENIR DE MOI + SE CONNECTER ===== */
/* ==================================================== */
.row {      
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* ==================================================== */
/* ===== DIV AVEC L'INPUT CHECKBOX + LE LABEL ========= */
/* ==================================================== */
.rememberMe {       
    display: flex;
    /* margin-bottom: 1rem; */
    justify-content: center;
}

.rememberMe input:hover {
    cursor: pointer;
}

.rememberMe label:hover {
    cursor: pointer;
    animation: neon 2.5s ease-in-out;
}

.rememberMe label {
    font-family: 'Montserrat-SemiBold', sans-serif;
}

input[type=checkbox] {
    margin-right: 0.3rem;
}

input[type=submit] {
    background-color: #42A62A;
    border-radius: 5px;
    border-width: 0px;
    padding: 0.3rem;
    color: white;
    font-size: clamp(18px, 18px, 36px);
    font-family: 'Montserrat-Regular', sans-serif;
    position: relative;
    transition: 0.5s;
}

input[type="submit"]:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #42A62A;
    font-weight: 800;
}

@keyframes background-switch {
    from {
        background-color: #42A62A;
    }
    to {
        background-color: blue;
    }
}


/* =============================================== */
/* ===== AFFICHAGE 768px et plus (tablettes) ===== */
/* =============================================== */
@media(min-width: 768px) {     
    .container {
        grid-template-columns: 5fr 2fr 1fr;
    }
    body {
        text-align: left;
    }
    .logo {
        width: 20vw;
    }
    .login {
        margin: 0;  
    }
    .row {
        text-align: left;
    }
    .rememberMe {
        justify-content: flex-start;
        padding-right: 1rem;
    }
    .forgotten-password {
        margin: 0;
    }
    .preview_icon {
        top: -4.75vh;
    }
}


/* ===================================================== */
/* ===== AFFICHAGE 1024px et plus (petits laptops) ===== */
/* ===================================================== */
@media(min-width: 1024px) {         
    .container {
        grid-template-columns: 2.5fr 1.5fr 1fr;
    }
    .logo {
        width: 15vw;
    }
    input[type="text"], input[type="password"] {
        height: 4vh;
    }
    input[type=submit] {
        font-size: 16px;
        margin: 0;
    }
    .preview_icon {
        top: -5.3vh;
        font-size: 1.2rem;
    }
    .row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .forgotten-password {
        text-align: left;
    }
    .rememberMe {
        margin: 0;
    }
    .rememberMe label {
        font-size: 0.9rem;
        margin: 0;
    }
}


/* ===================================== */
/* ===== AFFICHAGE 1339px et moins ===== */
/* ===================================== */
@media(max-width: 1439px) {         
    input[type=checkbox] {
        margin-top: 2.4px;
    }
}


/* ========================================================================== */
/* ====== AFFICHAGE 1440px et plus (grands laptops + écrans de bureau) ====== */
/* ========================================================================== */
@media(min-width: 1440px) {         
    .title {
        font-size: 32px;
    }
    form {
        font-size: 22px;
    }
    input[type="text"], input[type="password"] {
        font-size: 1.2rem;
    }
    input[type=submit] {
        font-size: 1.5rem;
        padding: 0.4rem;
    }
    .preview_icon {
        font-size: 1.8rem;
    }
    .rememberMe label {
        font-size: 1.3rem;
    }
}


/* ==================================== */
/* ===== AFFICHAGE 2560px et plus ===== */
/* ==================================== */
@media(min-width: 2560px) {             
    .title {
        font-size: 3rem;
    }
    .login {
        font-size: 2.5rem;
    }
    label {
        margin-bottom: 3rem;
    }
    input {
        margin-top: 1rem;
    }
    input[type="text"], input[type="password"] {
        font-size: 1.8rem;
    }
    input[type=submit] {
        font-size: 2.5rem;
        padding: 1rem 1rem;
    }
    .preview_icon {
        font-size: 2.5rem;
        top: -4.4vh;
    }
    .forgotten-password p {
        font-size: 1.5rem;
    }
    .rememberMe {
        align-items: center;
    }
    .rememberMe label {
        font-size: 2rem;
        margin: 0 0.5rem;
    }
    .rememberMe input {
        margin: 0 0.5rem;
    }
}